rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /question-images/{imagePath=**} {
      allow read: if true;
      allow write: if false;
    }

    match /{otherPath=**} {
      allow read, write: if false;
    }
  }
}
